---
layout: default
title : Publications
navbar_title: Publications
body_attr: >-
  data-spy="scroll" data-target="#navbar-year" data-offset="100"
---

{% assign pubs_by_year = site.data.publications | group_by_exp: "pub", "pub.year" %}
{% assign sorted_pubs_by_year = pubs_by_year | sort: "name" | reverse %}



<div class="row">
    <div class="col-12 col-lg-10">
        {% for year in pubs_by_year %}
        <h2 class="pt-4" id="year-{{ year.name }}">{{ year.name }}</h2>
        <div class="my-0 p-0 bg-white shadow-sm rounded-sm">
            {% for pub in year.items %}
                <h3>{{ pub.title }}</h3>
                <p><strong>{{ pub.authors }}</strong><br>
                {{ pub.venue }}<br>
                <a href="{{ pub.link }}">[Read More]</a></p>
            {% endfor %}
        </div>
        {% endfor %}
    </div>


    <div class="col-2 d-none d-lg-block">
        <div id="navbar-year" class="nav nav-pills flex-column sticky-top" style="top: 80px">
            {% for year in pubs_by_year %}
            <a class="nav-link d-block" href="#year-{{ year.name }}">{{ year.name }}</a>
            {% endfor %}
        </div>
    </div>

</div>
