<div class="row">
  <div class="col">
                        {% if site.data.profile.email %}
                        <a class="pr-3 no-break" href="mailto:{{ site.data.profile.email | encode_email }}" aria-label="Send an email">
                            <i class="fas fa-envelope"></i> Email
                        </a>
                        {% endif %}
    
                        {% if site.data.profile.facultypage %}
                        <a class="pr-3 no-break" target="_blank" href="{{ site.data.profile.facultypage }}">
                            <i class="fas fa-university"></i> FacultyPage
                        </a>
                        {% endif %}
                        
                        {% if site.data.profile.gscholar contains 'scholar.google' %}
                        <a class="pr-3 no-break" target="_blank" rel="noopener noreferrer" href="{{ site.data.profile.gscholar }}">
                            <i class="ai ai-google-scholar ai-lg"></i> Google Scholar
                        </a>
                        {% endif %}
                        
                        {% if site.data.profile.linkedin %}
                        <a class="pr-3 no-break" target="_blank" href="{{ site.data.profile.linkedin }}">
                            <i class="fab fa-linkedin"></i> LinkedIn
                        </a>
                        {% endif %}
                        
                        {% if site.data.profile.twitter %}
                        <a class="pr-3 no-break" target="_blank" href="https://twitter.com/{{ site.data.profile.twitter }}">
                            <i class="fab fa-twitter"></i> Twitter
                        </a>
                        {% endif %}   
    </div>
</div>


