
<div class="contact-disclaimer">
  <h5>Contact and Disclaimer</h5>
  
  <p class="disclaimer">Dr. Wang appreciates the funding support from Arnold Ventures, and collaboration from Dr. Ge Bai, 
    Dr. Gerard Anderson and members from the Johns Hopkins – Arnold Venture lowering private sector healthcare price grant. 
    The information and opinions expressed here are Dr. Wang’s own and not necessarily those of Johns Hopkins University or Arnold Ventures.</p>

  <p>Have questions or just want to connect? I’d love to hear from you! </p>
  <a class="pr-3 no-break" href="mailto:{{ site.data.profile.email | encode_email }}" aria-label="Send an email">
    <i class="fas fa-envelope"></i> Email
  </a>
  
  <a class="pr-3 no-break" target="_blank" href="{{ site.data.profile.facultypage }}">
    <i class="fas fa-university"></i> FacultyPage
  </a>
  
  <a class="pr-3 no-break" target="_blank" rel="noopener noreferrer" href="{{ site.data.profile.gscholar }}">
    <i class="ai ai-google-scholar ai-lg"></i> Google Scholar
  </a>
  
  <a class="pr-3 no-break" target="_blank" href="{{ site.data.profile.linkedin }}">
     <i class="fab fa-linkedin"></i> LinkedIn
  </a>
  
  <a class="pr-3 no-break" target="_blank" href="https://twitter.com/{{ site.data.profile.twitter }}">
    <i class="fab fa-twitter"></i> Twitter
  </a>
</div>


<!-- <p class="disclaimer">Dr. Wang appreciates the funding support from <a href="https://www.arnoldventures.org/" target="_blank">Arnold Ventures</a>, 
    and collaboration from <a href="https://publichealth.jhu.edu/faculty/3887/ge-bai" target="_blank">Dr. Ge Bai</a>, 
    <a href="https://publichealth.jhu.edu/faculty/11/gerard-anderson" target="_blank">Dr. Gerard Anderson</a>, 
    and members from the Johns Hopkins – Arnold Venture lowering private sector healthcare price grant. 
    The information and opinions expressed here are Dr. Wang’s own and not necessarily those of Johns Hopkins University or Arnold Ventures.</p> --> 
