<div class="row">
  <div class="col">
    <!-- Contact and Disclaimer Section -->  
    <h5>Contact and Disclaimer</h5>
    <p>Dr. Yang Wang, assistant research professor at Johns Hopkins University (<a href="index.html">contact</a>) 
      Dr. Wang appreciates the funding support from Arnold Ventures, and collaboration from Dr. Ge Bai, Dr. Gerard Anderson, and 
      members from the Johns Hopkins – Arnold Venture lowering private sector healthcare price grant. 
      The information and opinions expressed here are Dr. Wang’s own and not necessarily those of Johns Hopkins University or Arnold Ventures.
    </p>
    
     {% if site.data.profile.email %}
       <a class="pr-3 no-break" href="mailto:{{ site.data.profile.email | encode_email }}" aria-label="Send an email">
       <i class="fas fa-envelope"></i> Email
       </a>
     {% endif %}
    
     {% if site.data.profile.facultypage %}
       <a class="pr-3 no-break" target="_blank" href="{{ site.data.profile.facultypage }}">
       <i class="fas fa-university"></i> FacultyPage
       </a>
     {% endif %}
                        
     {% if site.data.profile.gscholar contains 'scholar.google' %}
       <a class="pr-3 no-break" target="_blank" rel="noopener noreferrer" href="{{ site.data.profile.gscholar }}">
       <i class="ai ai-google-scholar ai-lg"></i> Google Scholar
       </a>
     {% endif %}
                        
     {% if site.data.profile.linkedin %}
       <a class="pr-3 no-break" target="_blank" href="{{ site.data.profile.linkedin }}">
       <i class="fab fa-linkedin"></i> LinkedIn
       </a>
     {% endif %}
                        
     {% if site.data.profile.twitter %}
       <a class="pr-3 no-break" target="_blank" href="https://twitter.com/{{ site.data.profile.twitter }}">
       <i class="fab fa-twitter"></i> Twitter
       </a>
     {% endif %}   
    </div>
</div>


