<div class="row">
    <div class="col">
        <!-- Profile Card -->
        <div class="card border-0 shadow-sm bg-white">
            <div class="card-body p-5">
                <div class="row">
                    <div class="col">
                        {% if site.data.profile.portrait_url %}
                        <!-- When the screen is wider than md, float the portrait on the right -->
                        <div class="figure float-right ml-4 mb-4 d-none d-md-block">
                            <img 
                                src="{{ site.data.profile.portrait_url | relative_url }}" 
                                class="figure-img img-fluid img-thumbnail" 
                                style="height: 200px;"
                                data-toggle="tooltip" 
                                data-placement="top" 
                                title="{{ site.data.profile.portrait_caption }}">
                        </div>
                        {% endif %}

                        <div class="d-flex">
                            <div class="h1 font-weight-normal">
                                {{ site.data.profile.primary_name }} <small>{{ site.data.profile.secondary_name }}</small>
                            </div>
                            {% if site.data.profile.portrait_url %}
                            <div class="ml-auto d-md-none">
                                <a target="_blank" href="{{ site.data.profile.portrait_url | relative_url }}">
                                    <img src="{{ site.data.profile.portrait_url | relative_url }}" class="rounded-circle" style="height: 48px;" alt="Portrait">
                                </a>
                            </div>
                            {% endif %}
                        </div>
                        <div class="text-profile-position">
                            {% for position in site.data.profile.positions %}
                            {% if position.logo -%}
                            <img src="{{ position.logo | relative_url }}" alt="Logo" class="inline-badge"/>
                            {%- endif %}
                            {{ position.name }}<br/>
                            {% endfor %}
                        </div>
                        <div class="text-profile-bio mt-3" {% if site.data.profile.short_bio_text_justify %}style="text-align: justify;"{% endif %}>
                            {{ site.data.profile.short_bio }}
                        </div>
                        {% if site.data.profile.cv_link %}
                            <a target="_blank" href="{{ site.data.profile.cv_link | relative_url }}"><i class="fas fa-file-alt"></i> Curriculum Vitae</a> <br/>
                        {% endif %}
                    </div>
                </div>
                <hr />
                <div class="row">
                    <!-- Left column for Contact Links (Email, Google Scholar, etc.) -->
                    <div class="col-md-3">  
                        
                        <!-- Email Row -->
                        <div class="row">
                            <div class="col-12 py-0">
                                {% if site.data.profile.email %}
                                <a class="pr-3 no-break" href="mailto:{{ site.data.profile.email | encode_email }}" aria-label="Send an email">
                                    <i class="fas fa-envelope"></i><span style="font-size: 0.98rem;">Email</span>
                                </a>
                                {% endif %}
                            </div>
                        </div>

                        <!-- Faculty Page Row -->
                        <div class="row">
                            <div class="col-12 py-0">
                                {% if site.data.profile.facultypage %}
                                <a class="pr-3 no-break" target="_blank" href="{{ site.data.profile.facultypage }}">
                                    <i class="fas fa-university"></i><span style="font-size: 0.98rem;">FacultyPage</span>
                                </a>
                                {% endif %}
                            </div>
                        </div>

                        <!-- Google Scholar Row -->
                        <div class="row">
                            <div class="col-12 py-0">
                                {% if site.data.profile.gscholar contains 'scholar.google' %}
                                <a class="pr-3 no-break" target="_blank" rel="noopener noreferrer" href="{{ site.data.profile.gscholar }}">
                                    <i class="fas fa-graduation-cap"></i><span style="font-size: 0.98rem;">Google Scholar</span>
                                </a>
                                {% endif %}
                            </div>
                        </div>

                        <!-- LinkedIn Row -->
                        <div class="row">
                            <div class="col-12 py-0">
                                {% if site.data.profile.linkedin %}
                                <a class="pr-3 no-break" target="_blank" href="{{ site.data.profile.linkedin }}">
                                    <i class="fab fa-linkedin"></i><span style="font-size: 0.98rem;">LinkedIn</span>
                                </a>
                                {% endif %}
                            </div>
                        </div>

                        <!-- Twitter Row -->
                        <div class="row">
                            <div class="col-12 py-0">
                                {% if site.data.profile.twitter %}
                                <a class="pr-3 no-break" target="_blank" href="https://twitter.com/{{ site.data.profile.twitter }}">
                                    <i class="fab fa-twitter"></i><span style="font-size: 0.98rem;">Twitter</span>
                                </a>
                                {% endif %}
                            </div>
                        </div>
                    </div> 

                    <!-- Right column for Education, 2/3 of the column width -->
                    <div class="col-md-9">  
                        {% if site.data.profile.education %}
                          <div class="mx-2 my-0">
                            <h6 class="education-title">Education</h6>
                            <ul class="list-unstyled mb-1">
                                {% for item in site.data.profile.education %}
                                <li class="mb-2">  <!-- Added spacing between entries -->
                                    <div>
                                        <div class="small font-weight-bold">{{ item.position }}</div>  <!-- Degree first, bold -->
                                        <div class="">{{ item.name }}</div>  <!-- University Name -->
                                    </div>
                                    <div class="small text-muted"><em>{{ item.date }}</em></div>  <!-- Date in muted style -->
                              </li>
                                {% endfor %}
                            </ul>
                          </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>        
    </div>
</div>
